.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
  cursor: pointer;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border-radius: var(--radius);
  border: 1px solid hsl(var(--input));
  background-color: transparent;
  cursor: pointer;
}
